<h1>Welcome to Coin Counter</h1>
<form action="/final_tally">
  <div class="form-group">
    <label for="change">Enter your amount up to 99 to get your change returned.</label>
    <input id="change" name="change" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
